<section class="color-header2">
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="img-home" href="#"
          ><img src="./assets/img/LOGO1.png" alt="" width="300" height="80"
        /></a>
      </div>
      <div class="col-flex">
        <span class="form-input">
          <span class="input-header"
            ><input type="text" placeholder="Tìm kiếm" />
          </span>
          <a href="#" class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </span>
        <div class="col pad-header">
          <a class="t-x" href="#">Đăng Nhập</a>
          <span>|</span>
          <a class="t-x" href="#">Đăng Ký</a>
          <span>|</span>
          <a class="t-x" href="#"><i class="fa-solid fa-cart-shopping"></i> Giỏ Hàng</a>
        </div>
    </div>
  </div>
</section>
