<section class="directory-color">
  <div class="container">
    <div class="headdline">
      <h3>Sản Phẩm Mới ra mắt</h3>
    </div>
    <div class="product-form row j-b-c-t">
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-4 product-items col ">
        <div class="img-product-items">
          <img
            src="./assets/img/project1.png"
            alt=""
            width="320"
            height="346"
          />
          <div class="product-items-body">
            <div class="">
              <span class="title-product-items"> Bàn Phím </span>
              <span class="comments-product-items">
                Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Sidivcone
              </span>
              <span class="price-product-items d-l-b"> 999.000 ₫ </span>
              <div>
                <a href=""> xem ngay </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</section>
