<section class="sliders-color">
  <div class="container">
    <div class="row">
      <div class="col-12 owl-carousel slider owl-theme">
        <span class="img-slider">
          <img src="./assets/img/banphimsale1.jpg" alt="" />
        </span>
        <span class="img-slider">
          <img src="./assets/img/bàn phím sale 2.jpg" alt="" />
        </span>
        <span class="img-slider">
          <img src="./assets/img/bàn phím sale 3.jpg" alt="" />
        </span>
        <span class="img-slider">
          <img src="./assets/img/bàn phím sale 4.jpg" alt="" />
        </span>
      </div>
    </div>
  </div>
</section>
