<section>
  <div class="container">
    <div class="headline t-c">
      <h3>Sản Phẩm Bán Chạy</h3>
    </div>
    <ul class="products d-f j-b">
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="products-items">
          <div class="products-top">
            <a class="product-thumb" href="#"
              ><img src="./assets/img/project1.png" alt=""
            /></a>
            <a href="" class="buy-now">Xem Ngay</a>
            <div class="info">
              <a href="#" class="title"
                >Kit Custom Phím Cơ ZT84 LED RGB, 3 Modes, Hotswap 5 chân, Full
                Silicone…</a
              >
              <div class="price">999.000 ₫</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
