<section class="header-color">
  <div class="container">
    <div class="row j-b header-form">
      <div class="col header-left">
        <span
          ><i class="fa-solid fa-location-dot"></i> Quận Gò Vấp/ Quang Trung/
          Phường 11/ Hẻm 656</span
        >
        <span>|</span>
        <span><i class="fa-regular fa-clock"></i> 8.00 / 20.00</span>
        <span>|</span>
        <span><i class="fa-solid fa-phone"></i> 0972.483.152</span>
      </div>
      <div class="col header-right">
        <span
          ><i class="fa-regular fa-envelope"></i> Email:
          congtytnhh1thanhvien@gmail.com</span
        >
        <span>|</span>
        <span><i class="fa-regular fa-bell"></i> Thông báo</span>
      </div>
    </div>
  </div>
</section>
